# output dir
output
instant_test_output
inference_test_output

*.png
*.json
*.diff
*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/model_zoo/configs
!/datasets/*.* 
/projects/*/datasets
/models
/snippet

# exclude specific directories
checkpoints/
data_root/

logs/**

datasets/data/ade/
datasets/data/voc/Annotations/
datasets/data/voc/ImageSets/
datasets/data/voc/SHOW.py
datasets/data/voc/SegmentationClassAug.zip
datasets/data/voc/SegmentationClassAug/
datasets/data/voc/VOCtrainval_11-May-2012.tar
datasets/data/voc/saliency_map.zip